@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>click on the link to open the blog list  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Blogs">Blogs</a>.</p>
</div>
